.home-page-container {
    text-align: center;
    margin-top: 100px; /* Adjust the margin as needed */
    color: #38597c; /* Font color for text on dark background */
  }
  
  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  /* .language-button {
    font-size: 35px;
    padding: 20px 30px;
    margin: 10px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background-color: #6e9995;
    color: #FFFFFF;     // Font color for text on dark background 
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  } 
  */
  
  .language-button {
    width: 200px; /* Adjust width as needed */
    height: 50px; /* Adjust height as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 30px; /* You may adjust padding if necessary */
    margin: 10px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background-color: #56837e;
    color: #FFFFFF; /* Font color for text on dark background */
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

  .language-button:hover {
    background-color: #d0d6da; /* Change color on hover */
  }

  
  /* HomePage.css */
@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes slideIn {
    0% {
      transform: translateY(-50px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .home-page-container h1 {
    animation: fadeIn 1s ease-in-out forwards;
  }
  
  .home-page-container h2 {
    animation: slideIn 1s ease-in-out forwards;
  }
  

  